@use "../utils" as *;

.btn {
  --color: var(--yellow-500);

  @include preset-8;

  position: relative;
  min-height: var(--space-300);
  padding-inline: var(--space-125);
  line-height: var(--space-300);

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: var(--space-125);
    border-radius: var(--space-300);

    opacity: 0.25;
    background-color: var(--color);

    transition: opacity 0.15s;
  }

  &:hover::after {
    opacity: 1;
  }

  &--alt {
    --color: var(--red-400);
  }
}
