@use "../utils" as *;

.btn {
  --color: var(--yellow-500);
  @include preset-8;
  min-height: var(--space-300);
  position: relative;
  line-height: var(--space-300);
  padding-inline: var(--space-125);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--space-125);
    background-color: var(--color);
    z-index: -1;
    border-radius: var(--space-300);
    opacity: 0.25;
    transition: opacity 0.15s;
  }

  &:hover::after {
    opacity: 1;
  }

  &--alt {
    --color: var(--red-400);
  }
}
