@use "../utils" as *;

.testimonial {
  // max-width: 21.875rem;
  text-align: center;

  img {
    width: var(--space-900);
    height: var(--space-900);
    margin-inline: auto;
    border-radius: 50%;
  }

  blockquote {
    max-width: 50rem;
    margin-block: var(--space-700) var(--space-900);
    color: var(--grey-600);

    @include mq(m) {
      margin-block-end: var(--space-400);
    }
  }

  &__name {
    @include preset-7;

    color: var(--grey-950);
  }

  &__position {
    @include preset-12;

    margin-block-start: var(--space-100);
    color: var(--grey-400);
  }
}
