:root {
  // FONTS

  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --font-display: "Fraunces", sans-serif;
  --font-body: "Barlow", sans-serif;

  // COLORS

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --green-300: hsl(168, 44%, 70%);
  --green-500: hsl(167, 34%, 41%);
  --green-600: hsl(166, 30%, 35%);
  --green-800: hsl(167, 40%, 24%);

  --grey-400: hsl(210, 4%, 67%);
  --grey-550: hsl(232, 10%, 55%);
  --grey-600: hsl(213, 9%, 39%);
  --grey-950: hsl(212, 27%, 19%);

  --blue-500: hsl(200, 100%, 62%);
  --blue-800: hsl(198, 62%, 26%);
  --blue-950: hsl(197, 84%, 13%);

  --red-400: hsl(7, 99%, 70%);

  --yellow-500: hsl(51, 100%, 49%);

  // SIZES

  --space-0: 0; // 0px
  --space-12: 0.0625rem; // 1px
  --space-50: 0.25rem; // 4px
  --space-100: 0.5rem; // 8px
  --space-125: 0.625rem; // 10px
  --space-150: 0.75rem; // 12px
  --space-175: 0.875rem; // 14px
  --space-200: 1rem; // 16px
  --space-225: 1.125rem; // 18px
  --space-250: 1.25rem; // 20px
  --space-300: 1.5rem; // 24px
  --space-400: 2rem; // 32px
  --space-500: 2.5rem; // 40px
  --space-600: 3rem; // 48px
  --space-700: 3.5rem; // 56px
  --space-800: 4rem; // 64px
  --space-900: 4.5rem; // 72px
  --space-1000: 5rem; // 80px
  --space-1050: 5.5rem; // 88px
  --space-1100: 6rem; // 96px
  --space-1400: 7rem; // 112px
  --space-1500: 7.5rem; // 120px
  --space-1600: 8rem; // 128px
  --space-2000: 10rem; // 160px
}
