@use "../utils" as *;

.gallery {
  --col: 4;

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(var(--col), 1fr);

  img {
    object-fit: cover;
  }

  @include mq(m) {
    --col: 2;

    & > * {
      aspect-ratio: 1/1;
    }
  }
}
