@use "../utils" as *;

.header {
  height: 50rem;
  background-image: url(../../../images/desktop/image-header.jpg);
  background-color: var(--blue-500);
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: var(--space-400) var(--space-500);
  align-content: start;
  animation: slide-bg 1s cubic-bezier(0.07, 0.72, 0.29, 0.96);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--space-700) repeat(2, auto);
  row-gap: var(--space-1100);

  @include mq(m) {
    row-gap: var(--space-700);
    padding: var(--space-600) var(--space-500);
    grid-template-rows: repeat(3, auto);
  }

  @include mq(s) {
    height: 34rem;
    padding: var(--space-400) var(--space-300);
    background-image: url(../../../images/mobile/image-header.jpg);
    background-size: 100%;
  }

  &__logo {
    width: 10.625rem;
    justify-self: start;
    align-self: center;
  }

  &__navigation {
    justify-self: end;
    align-self: center;

    @include mq(m) {
      display: none;
    }

    ul {
      display: flex;
      gap: var(--space-300);
    }
  }

  &__navigation-link {
    color: var(--white);
    padding: var(--space-200) var(--space-300);
    border-radius: var(--space-600);

    &--contact {
      @include preset-8;
      background-color: var(--white);
      color: var(--grey-950);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
      color: var(--white);
    }
  }

  &__title {
    @include preset-1;
    grid-column: 1 / -1;
    justify-self: center;
    color: var(--white);
    text-align: center;

    @include mq(s) {
      @include preset-2;
    }
  }

  &__button {
    width: 100px;
    display: grid;
    place-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    grid-column: 1 / -1;
    justify-self: center;
    transform: scale(0.83);
    transform-origin: bottom;
    transition: transform 0.1s;

    &:hover {
      transform: scale(0.83) translateY(var(--space-100));
    }
  }
}
