@use "../utils" as *;

.header {
  --drop-shadow: drop-shadow(0 0 var(--space-50) var(--yellow-500));

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--space-700) repeat(2, auto);
  row-gap: var(--space-1100);
  align-content: start;

  height: 50rem;
  padding: var(--space-400) var(--space-500);

  background-color: var(--blue-500);
  background-image: url("../../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1400px;

  animation: slide-bg 1s cubic-bezier(0.07, 0.72, 0.29, 0.96);

  @include mq(m) {
    grid-template-rows: repeat(3, auto);
    row-gap: var(--space-700);
    padding: var(--space-600) var(--space-500);
  }

  @include mq(s) {
    height: 34rem;
    padding: var(--space-400) var(--space-300);
    background-image: url("../../../images/mobile/image-header.jpg");
    background-size: 100%;
  }

  &__logo {
    place-self: center start;
    width: 10.625rem;
  }

  &__logo:hover &__logo-svg {
    fill: var(--yellow-500);
    filter: var(--drop-shadow);
  }

  &__navigation {
    place-self: center end;

    @include mq(m) {
      display: none;
    }

    ul {
      display: flex;
      gap: var(--space-300);
    }
  }

  &__navigation-link {
    padding: var(--space-200) var(--space-300);
    border-radius: var(--space-600);
    color: var(--white);

    &--contact {
      @include preset-8;

      color: var(--grey-950);
      background-color: var(--white);
    }

    &:hover {
      color: var(--white);
      background-color: rgb(255 255 255 / 25%);
    }
  }

  &__title {
    @include preset-1;

    grid-column: 1 / -1;
    justify-self: center;
    color: var(--white);
    text-align: center;

    @include mq(s) {
      @include preset-2;
    }
  }

  &__button {
    cursor: pointer;

    transform-origin: bottom;
    transform: scale(0.83);

    display: grid;
    grid-column: 1 / -1;
    place-content: center;
    justify-self: center;

    width: 100px;
    border: 0;

    background-color: transparent;
    outline: 0;

    transition: transform 0.1s;

    &:hover {
      transform: scale(0.83) translateY(var(--space-100));
    }
  }

  &__button:hover &__button-svg {
    stroke: var(--yellow-500);
    filter: var(--drop-shadow);
  }
}
